@media screen and (max-width: 600px) {
    .nav-items {
        flex-direction: column;

    }

    .nav-container img {
        width: 28.724px;
        height: 33.516px;

    }

    .nav-container p {
        font-size: 20px;
        font-weight: 800;
    }

    .Travel {
        font-size: 20px;
        font-weight: 800;
    }
    .banner{
        flex-direction: column;
        margin: 0 auto;
        
        
    }
    .explore{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.6rem;
        width: 300px;
        margin: 0 auto;

    }
    .banner-description img{
        width: auto;
    }
    .banner-img{
   /* flex-direction: column
   ; */
   /* width: 100%; */
    }
    .button{
        flex-direction: column;
        gap: 10px;
        height: auto;
        margin-left: 0px;
        width: 300px;
       margin: 0 auto;
       /* padding-left: 20px; */
    }
   
    
    .popular-section{
        flex-direction: column;
        gap: 20px;
    }
.destination-title{
    font-size: 1.8rem;
}
.destination-description{

}
.row-1{
    flex-direction: column;
    margin: 0 auto;
}
.row-1 img{
    width: 100%;
}
.row-2{
    flex-direction: column;
}
.first{
    width: auto;
}
.second{
   width: auto;
}
.row-3{
    flex-direction: column;
}
.last{
    width: auto;
}
.choose-description{
    padding: 0%;
}
.choose-card-1{
    flex-direction: column;
    gap: 10px;
}
.choose-1{
    margin-left: 0px;
}
.choose-2{
    /* padding-left: 80px; */
    margin: 0 auto;
    width: 100%;
    margin-left: 0px;
}
.best-price{
    /* margin: 10 auto; */
    margin-left: 0px;
}








}