@media screen and (max-width: 600px) {
    .nav-items {
        flex-direction: column;

    }

    .nav-container img {
        width: 28.724px;
        height: 33.516px;

    }
    .nav-items{
        visibility: hidden;
    }
    .menu{
        visibility: visible;
    }

    .nav-container p {
        font-size: 20px;
        font-weight: 800;
    }

    .Travel {
        font-size: 20px;
        font-weight: 800;
    }
    .banner{
        flex-direction: column;
        margin: 0 auto;
        
        
    }
    .explore{
        font-size: 1.5rem;
    }
    .banner-description{
        font-size: 0.6rem;
        width: 300px;
        margin: 0 auto;

    }
    .banner-description img{
        width: auto;
    }
   
    .button{
        flex-direction: column;
        gap: 10px;
        height: auto;
        margin-left: 0px;
        width: 300px;
       margin: 0 auto;
       /* padding-left: 20px; */
    }
   
    
    .popular-section{
        flex-direction: column;
        gap: 20px;
    }
    .popular-pic{
        width: auto;
        
    }
.destination-title{
    font-size: 1.8rem;
}
.destination-description{

}
.row-1{
    flex-direction: column;
    margin: 0 auto;
}
.row-1 img{
    width: 100%;
}
.row-2{
    flex-direction: column;
}
.first{
    width: auto;
}
.middle{
    width: auto;
}
.second{
   width: auto;
}
.row-3{
    flex-direction: column;
}
.last{
    width: auto;
}
.choose-description{
    padding: 0%;
    width: auto;
}
.choose-card-1{
    flex-direction: column;
    gap: 10px;
}
.choose-1{
    margin-left: 0px;
    width: auto;
}
.choose-2{
    width: auto;
    margin: 0 auto;

    margin-left: 0px;
}
.map-description{
    width: auto;
    margin: 0 auto ;
}
.hotel-description{
    width: auto;
}
.best-price{
    width: auto;
    margin-left: 0px;
}
.best-price-description{
    width: auto;
}
.simple{
    flex-direction: column;
    }
    .simple-picture{
        width: auto;
        /* margin-left: 0px; */
    }
    .simple-img{
        width: auto;
        margin-left: 0px;
        /* padding-right: 30px; */
        margin-right: 20px;
    }
    .simple-description{
        width: auto;
    }
    .bonus-pic{
        flex-direction: column;
    }

    .news-container{
        flex-direction: column;
    }
    .news-content input{
        width: 300px;
    }
    .news-img{
        max-width:300px;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 0px;
    }
    .save-img{
        width: 330px;
        margin: 0 auto;

    }
    .save{
        width: 150px;
        height: 100px;
    }


.footer{
    width: auto;
    margin: 0 auto;
    /* height: auto; */
}




}