@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.header-section {
  max-width: 1250px;
  margin: 0 auto;
  /* border: 2px solid blue; */
  display: flex;
}
.menu{
  visibility: hidden;
}

.nav-container {
  /* border: 2px solid red; */
  min-height: 100px;
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-container img {
  width: 48px;
  height: 56px;
}

.nav-container p {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.Travel {
  color: #FF5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  gap: 44px;

}

.nav-items a {
  text-decoration: none;
  color: #424247;
  font-size: 1rem;
  font-weight: 400;
  font-family: Mulish;
}

.home {
  color: #FF5400;
}

/* banner section start here */
.banner {
  max-width: 1250px;
  height: 500px;
  margin: 0 auto;
}

.banner-img {
  background-image: linear-gradient(#131318, #13131800), url(../Images/group1.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 100%;
  background-size: cover;
}

.explore {
  color: #FFF;
  font-family: Mulish;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  padding-top: 50px;
}

.banner-description {
  width: 676px;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 26px;
  margin-left: 230px;
}

.button {
  width: 800px;
  height: 80px;
  margin-left: 200px;
  padding-left: 30px;
  padding-top: 20px;
  gap: 24px;
  display: flex;
  margin-top: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
}

.banner-btn {
  /* display: flex; */
  width: 174px;
  height: 52px;
  background-color: #FFF;
  text-align: center;
  border: 2px solid;
  border-radius: 8px;
  color: #13131880;
  gap: 24px;
}

#find-now {
  width: 174px;
  height: 52px;
  background-color: #FF5400;
  color: #FFF;
  border: none;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  gap: 10px;
}

#find-now img {
  margin-top: 10px;
}

/* popular section start */
.popular-section {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 100px;
}

.popular {
  padding-right: 20px;
}

.popular-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;

}

.popular-description,
.popular-content {
  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.read-more {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #FF5400;
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
}
.popular-pic{
    width: 500px;
    height: 387px;
}

/* popular section ends here */

/* destination section start here */
.destination {
  max-width: 1250px;
  margin: 0 auto;
}

.destination-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 2.1rem;
  font-weight: 800;

}

.destination-description {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 0.8rem;
  ;
  font-weight: 400;
  line-height: 26px;
  /* width: 640px; */
}

.row-1 {
  /* border: 5px solid red; */
  display: flex;
  gap: 10px;
}

.row-1 img {
  width: 50%;
}

.row-2 {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.row-2 img {
  /* width: 30%  ; */
}

.first {
  width: 374px;
}

.middle {
  /* width: 40%; */
  width: 574px;
}

.second {
  width: 274px;
}

.row-3 {
  display: flex;
  gap: 10px;
  margin-top: 10px;

}

.last {
  width: 800px;
}
 

/* destination end */

/* choose section start here */
.choose {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 20px;
}

.choose-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}

.choose-description {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 600px;
  padding-left: 300px;
}

.choose-card-1 {
  display: flex;
  gap: 10px;
}

.choose-1 img {
  width: 64px;
  height: 64px;
}

.choose-1 {
  width: 573px;
  height: 284px;
  margin-left: 25px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
  padding-left: 20px;
  padding-top: 10px;

}

.hotel-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.hotel-description {
  width: 486px;
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.choose-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  padding-left: 20px;
  padding-top: 10px;
}

.map-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.map-description {
  width: 486px;
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.best-price {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  padding-left: 20px;
  padding-top: 10px;
  margin-left: 320px;
  margin-top: 10px;
}

.best-price-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}

.best-price-description {
  width: 489px;
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* choose section end */
/*  simple price section start */
.simple{
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.simple-content{ 
  width: 50%;
}
.simple-title{
  color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
line-height: 60px; 
}
.simple-description{
  width: 532px;
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.see-more{
  width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
border: none;
}
.simple-picture{
  width: 50%;
  margin-top: 100px;
  margin-left: 30px;
  width: 610px;
height: 424px;
flex-shrink: 0;
position: relative;
text-align: center;
color: #FFF;
}
.watch{
  position: absolute;
  top: 25%;
  left: 25%;
  
}
/* bonus section */
.bonus{
  max-width: 1250px;
  margin: 0 auto;
  border-radius: 10px;
  
}
.bonus-title{
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px; 
}
.bonus-pic{
  gap: 20px; 
  display: flex;
  width: 100%;
}
.bonus-des-1{
  color: #131318;
  font-family: Mulish;
  font-size: 25px;
  font-weight: 800;
  line-height: 60px; 
}
.bonus-para-1{
  color: #424247;
  font-size: 15px;
}
/* news section */
.news-container{
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
}
.news-content{
  width: 50%;
  margin-left: 10px;
  
}
.news-title{
  color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
}
.news-des{
  color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.news-content input{
  width: 393px;
  height: 52px;
   text-align: start;
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: none;
margin-top: 20px;
}
.news-content .submit{
  border-radius: 8px;
background: #FF5400;
color: #FFF;
}
.news-img{
 margin: 0 auto;
 /* width: 50%; */
 margin-right: 40px;
 position: relative;
}
.save{
 background-color: #FF5400;
 color: #FFF;
 border: none;
 width: 324px;
height: 120px;
transform: rotate(-19.628deg);
position: absolute;
bottom: 15%;
left: 45%;
border-radius: 8px;

}

/* footer start */
.footer{
  max-width: 1250px;
  margin: 0 auto;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-content{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
}
.footer-icon{
  width: 40px;
height: 46.673px;
}
.footer-travel{
  color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}
.footer-title{
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}
.footer-des{
  color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.asset{
  margin-left: 40%;
}
.all{
  margin-top: 100px;
  margin-left: 40%;
}